<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Беги, Лола</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    @Html.Partial("FirebaseScripts")

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Беги, Лола", "RoomList", "Home")
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Активные заезды", "RoomList", "Home")</li>
                    <li>@Html.ActionLink("Завершенные заезды", "FinishedRaces", "Home")</li>
                </ul>

                <div style="position: absolute; right: 15px; top: 15px; ">
                    <table>
                        <tr>
                            <td>
                                <p id="pName" style="color:white"></p>
                            </td>
                            <td>
                                <input type="submit" value="Донат" onClick="AddPoints();">
                            </td>
                            <td>
                                <input type="submit" value="Войти" onClick="AuthRandomUser();">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            
            

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    <script type="text/javascript">

        function AddPoints()
        {
            if (getCookie('LolaRenntKey') != "") {

                var userRef = firebase.database().ref(fbMainUser + "/" + getCookie('LolaRenntKey'));
                userRef.once("value", function (snapshot) {
                    
                    var user = snapshot.val();
                    user.Points = user.Points + 100;

                    var updates = {};
                    updates[snapshot.key] = user;

                    firebase.database().ref(fbMainUser).update(updates)
                });
            }
        }

        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min)) + min;
        }

        function AuthRandomUser()
        {
            var rootRef = firebase.database().ref();
            var userRef = rootRef.child(fbMainUser);

            userRef.once("value", function (snapshot) {
                var lnght = 0;
                snapshot.forEach(function (child) {
                    lnght = lnght + 1;
                });
                
                try {
                    lnght = getRandomInt(0, lnght);
                }
                catch (e) {
                    lnght = 0;
                }

                var i = 0;
                snapshot.forEach(function (child) {
                    if (i == lnght) {
                        var user = child.val();
                        setCookie("LolaRenntKey", child.key);
                        setCookie("LolaRenntName", user.Name);

                        setName();
                        window.location.reload(false); 

                    }
                    i = i + 1;
                });

                

            });
        }

        function setName()
        {
            $('#pName').html('<a href="@Url.Action("User", "Home")?id=' + getCookie('LolaRenntKey') + '">' + getCookie('LolaRenntName') + '</a>');
        }

        function AuthUser(user) {
            setCookie("LolaRenntKey", user);
            setCookie("LolaRenntName", user);

            setName();
        }

        function setCookie(name, value) {
            document.cookie = name + "=" + value;
        }
        function getCookie(name) {
            var r = document.cookie.match("(^|;) ?" + name + "=([^;]*)(;|$)");
            if (r) return r[2];
            else return "";
        }
        function deleteCookie(name) {
            var date = new Date(); // Берём текущую дату
            date.setTime(date.getTime() - 1); // Возвращаемся в "прошлое"
            document.cookie = name += "=; expires=" + date.toGMTString(); // Устанавливаем cookie пустое значение и срок действия до прошедшего уже времени
        }

        $(document).ready(function () {
            if (getCookie('LolaRenntKey') == "") {
                AuthRandomUser();
            }
            else {
                setName();
            }
        });

    </script>

</body>
</html>
