@using LolaRenntServer;
@model Room
<h2>Ставки</h2>

@Html.Partial("FirebaseScripts")

<div id="divRoom">
    <div class="row">
        <div class="col-md-4" id="driver1">
            <div class="row">
                <h3>Name1</h3>
                <button type="button" class="btn btn-primary">Bet</button>
                <table class="table table-striped" style="margin-top:10px">
                    @if (Model != null && Model.Bets.Any()) {
                        foreach (var bet in Model.Bets.Where(m => m.Driver == BetDriver.Driver1))
                        {
                        <tr>
                            <td>@bet.UserId</td>
                            <td>@bet.Amount</td>
                        </tr>
                        }
                    }
                </table>
            </div>
        </div>
        <div class="col-md-4" id="map">
            <div class="row">
                <h3>Карта</h3>
                <p></p>
            </div>
        </div>
        <div class="col-md-4" id="driver2">
            <div class="row">
                <h3>Name2</h3>
                <button type="button" class="btn btn-primary">Bet</button>
                <table class="table table-striped" style="margin-top:10px">
                    @if (Model != null && Model.Bets.Any()) {
                        foreach (var bet in Model.Bets.Where(m => m.Driver == BetDriver.Driver2))
                        {
                        <tr>
                            <td>@bet.UserId</td>
                            <td>@bet.Amount</td>
                        </tr>
                        }
                    }
                    </table>
            </div>
        </div>
    </div>
</div>